.t {
  width: var(--large);
  height: calc(var(--large) / 2);
  border-radius: 1.25rem;
  border: 1px solid #999;
  background-color: white;
  position: fixed;
  top: 0.675rem;
  right: 0.675rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.t-icon {
  width: 15px;
  aspect-ratio: 1;
}

.t-button {
  inline-size: calc(var(--large) / 2);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
  left: 0;
  transition: all 0.5s ease;
}

.t-button.dark {
  left: 25px;
}
